{% extends 'wedding/sections/section.html' %}

{% block content %}
<div class="accomodations small-10 large-10 large-centered columns wrapper">
  <div class='accomodations-block'>
    <span class="accomodations-title">The Berkshire Outdoor Center Lodges</span>
    <p class="accomodations-description">
      Tony and Haya chose this venue for their wedding because they are most
      excited about spending a whole weekend with everyone they love.
      They want to maximize time with everyone and bring their community of
      friends and family together. The wedding venue has four winterized
      lodges that can accommodate guests. Haya and Tony will be staying
      on-site all weekend, and encourage you to join them!
      <br><br>
      The lodge set-up and what’s included:
      <ul>
        <li>
          Awesome fun activities like archery, high ropes course,
          snow shoeing, hikes, and candle-making!
        </li>
        <li>
          All rooms are equipped with twin sized beds (some are bunk beds).
        </li>
        <li>
          The beds will be made with sheets, pillows, blankets, and towels.
        </li>
        <li>
          There are plenty of communal bathrooms situated within each lodge.
        </li>
        <li>
          Outlets and Wi-Fi are both available.
        </li>
        <li>
          Heat and hot water (obviously)
        </li>
        <li>
          The price includes plenty of snacks, and all your meals throughout
          your stay. For example, if you stay Friday through Sunday, dinner
          will be provided on Friday, as well as breakfast and lunch on
          Saturday before the wedding.
        </li>
      </ul>
    </p>
  </div>

  <div class="hotel-block-header">
    If you are looking for an alternative to staying on-site, we've reserved
    room blocks at three nearby hotels.
  </div>

  <div class="accomodations-block">
    <span class="accomodations-title">Marriott</span>
    <p class="accomodations-description">
      To make a reservation, call the hotel directly.
      <br><br>
      Group Name: Alzaid Lopez Wedding
      <br>
      Phone: 413-551-7700
      <br>
      Address: 70 Pittsfield Road, Lenox, MA 01240
      <br><br>
      Room block available until November 15th, 2018
      <br>
      Standard King rooms at $129
      <br>
      Double Queen rooms at $139
      <br>
      Rates above are per night and do not include tax or breakfast
    </p>
  </div>

  <div class="accomodations-block">
    <span class="accomodations-title">Hampton Inn & Suites Berkshires/Lenox</span>
    <p class="accomodations-description">
      To make a reservation, call the hotel directly or click the link.
      <br>
      Group Name: “Alzaid/Lopez Wedding Block”
      <br>
      Group Code: ALW
      <br>
      Phone: 413-499-1111
      <br>
      <a href="https://hamptoninn.hilton.com/en/hp/groups/personalized/S/SFYLXHX-ALW-20181213/index.jhtml?WT.mc_id=POG">
        Link
      </a>
      <br>
      Address: 445 Pittsfield Road, Lenox, MA 01240
      <br><br>
      Room block available until November 1st, 2018
      <br>
      Rates are per night and include breakfast
      <br>
      Standard King $109
      <br>
      Standard Queen $119
      <br>
      King Studio Suite $139
    </p>
  </div>

  <div class="accomodations-block">
    <span class="accomodations-title">The Yankee Inn</span>
    <p class="accomodations-description">
      To make a reservation, call the hotel directly or click the link.
      If you are only booking a 1-night stay, you must call them directly
      and provide the same block code. If you are staying for two nights and
      would like to book online, here are the instructions:
      <ol>
        <li>Go to <a href="https://www.yankeeinn.com/">YankeeInn.com</a></li>
        <li>Click Check Rates</li>
        <li>Towards the top, click Add code and Discount Code</li>
        <li>Click Group Attendee and have them use the code, Alzaid - Lopez Wedding</li>
        <li>Select the dates, December 14-16</li>
        <li>Select room type and finish reservation</li>
      </ol>

      Block Name/Code: Alzaid - Lopez Wedding
      <br>
      Phone: (413) 499-3700
      <br>
      Address: 461 Pittsfield Road, P.O Box 829, Lenox, MA 01240
      <br>
      Room block available until November 15th, 2018
      <br>
      Rates are per night and include a deluxe continental breakfast
      <br>
      Standard King $85
      <br>
      Double Queen $95
      <br>
      Doubles $95 ($85/night if staying two nights)
    </p>
  </div>

  <div class="accomodations-block">
    <span class="accomodations-title">Yankee Suites</span>
    <p class="accomodations-description">
      The Yankee Suites is the sister hotel to the Yankee Inn. They allow
      dogs for an additional $50 fee. To make a reservation, call the hotel
      directly. It is recommended that you only stay here if you are
      planning to bring a dog.
      <br><br>
      Phone: (413) 629-2141
      <br>
      <a href="https://www.extendedstays.net/en-us">
        https://www.extendedstays.net/en-us
      </a>
      <br>
      Address: 20 W Housatonic St, Pittsfield, MA 01201
      <br>
      Room block available until November 15th, 2018
      <br>
      Group Code: 1214AL
      <br>
      Group Name: Alzaid-Lopez Wedding
      <br>
      Rate: $85 per night for Doubles or Queen with a mandatory two-night stay
      <br>
    </p>
  </div>
</div>
{% endblock %}
