{% extends 'wedding/sections/carousel.html' %}
{% load staticfiles %}

{% block slides %}
<li>
  <img alt="Placeholder" src="{% static 'img/groomsmen-1.jpg' %}">
  <p class="flex-caption">Cool DUDE! Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</li>
<li>
  <img alt="Placeholder" src="{% static 'img/groomsmen-2.jpg' %}">
  <p class="flex-caption">ALSO a DUDE ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</li>
<li>
  <img alt="Placeholder" src="{% static 'img/groomsmen-3.jpg' %}">
  <p class="flex-caption">NOT A DUDE Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</li>
{% endblock %}
