{% extends 'wedding/sections/section.html' %}
{% load staticfiles %}

{% block content %}
<div class="small-12 large-8 large-centered columns wrapper">
  <p class="content-block">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
  </p>
  <span id="gift-display"></span>
  <form data-abide method="POST" class="gift-form custom" action="{% url 'make_gift' %}" id="gift_form">
    {% csrf_token %}
    <fieldset class="gift-choice">
      <legend>What would you like to give?</legend>
      <ul class="small-block-grid-1 large-block-grid-3 block-grid">
        <li>
          <label for="yard" class="block-logo">
            <svg viewBox="0 0 100 100" class="icon">
              <use xlink:href="#flowers" />
            </svg>
            <h3 class="radio-label">
              Landscape our Yard
            </h3>
            <input name="category_name" type="radio" id="landscape_yard" style="display:none;" value="Landscape Yard" required>
          </a>
        </li>
        <li>
          <label for="kitchen" class="block-logo">
            <svg viewBox="0 0 100 100" class="icon">
              <use xlink:href="#kitchen" />
            </svg>
            <h3 class="radio-label">
              Update our Kitchen
            </h3>
            <input name="category_name" type="radio" id="update_kitchen" style="display:none;" value="Update Kitchen" required>
          </a>
        </li>
        <li>
          <label for="basement" class="block-logo">
            <svg viewBox="0 0 100 100" class="icon">
              <use xlink:href="#sofa" />
            </svg>
            <h3 class="radio-label">
              Finish our Basement
            </h3>
            <input name="category_name" type="radio" id="finish_basement" style="display:none;" value="Finish Basement" required>
          </a>
        </li>
      </ul>
		</fieldset>
    <fieldset class="amount">
      <legend>How much would you like to give?</legend>
      <div class="columns">
        <div class="fieldWrapper">
          <label for="{{ gift_form.amount.id_for_label }}">
            Amount
          </label>
          {{ gift_form.amount }}
      </div>
      </div>
    </fieldset>

    {% if guest %}
      <input type="hidden" id="guest_id" name="guest_id" value="{{ guest.id }}">
    {% else %}
      <fieldset class="payer-details">
        <legend>Who are you?</legend>
        <div class="large-4 columns">
          <div class="fieldWrapper">
            <label for="{{ gift_form.first_name.id_for_label }}">
              First Name
            </label>
            {{ gift_form.first_name }}
          </div>
        </div>
        <div class="large-4 columns">
          <div class="fieldWrapper">
            <label for="{{ gift_form.last_name.id_for_label }}">
              Last Name
            </label>
            {{ gift_form.last_name }}
          </div>
        </div>
        <div class="large-4 columns">
          <div class="fieldWrapper">
            <label for="{{ gift_form.email.id_for_label }}">
              Email Address
            </label>
            {{ gift_form.email }}
          </div>
        </div>
      </fieldset>
    {% endif %}

    <fieldset class="credit-details">
      <legend>How would you like to pay?</legend>
      <div class="columns">
        <div class="fieldWrapper">
          <label for="gift-cc">
          </label>
          <div class="fieldWrapper" id="gift-cc">
          </div>
          <div id="gift-cc-errors" role="alert">
          </div>
        </div>
      </div>
    </fieldset>

    <button type="submit" class="button radius" id="gift-submit-btn">
      <svg class="icon">
        <use xlink:href="#gift" />
      </svg>
      <span class="btn-label">Make a Gift</span>
    </button>
  </form>

</div>
{% endblock %}
