{% extends 'wedding/sections/section.html' %}
{% load thumbnail staticthumb %}

{% block content %}
<header>
  <h2 class="section-title">
    <span>Tony</span>&nbsp;<em>and</em>&nbsp;<span>Haya</span>
  </h2>
</header>
<p class="subline">
  {% if guest %}
    Invite You to Celebrate at Their Wedding
  {% else %}
    Are getting married!
  {% endif %}
</p>

{% with 'img/engagement.jpg'|static_url as path %}
  <img src="{% thumbnail path '1920' as im %}{{ im.url }}{% endthumbnail %}"
      srcset="
          {% thumbnail path '640' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
          {% thumbnail path '1024' as im %} {{ im.url }} {{ im.x }}w{% endthumbnail %},
          {% thumbnail path '1920' as im %} {{ im.url }} {{ im.x }}w{% endthumbnail %}"
      alt="Engagement Photo"
      class="hero-unit fade-in"
      sizes="100vw"
  />
{% endwith %}

<div class="row divider date-section">
  <div class="large-6 small-12 columns">
    <div class="date-container col-1">
      <span class="day-date">Saturday, December 15</span> <span class="day-year accent">2018</span>
    </div>
  </div>
  <div class="large-6 small-12 columns">
    <div class="date-container col-2">
      <span class="day-time">Three O’Clock in the Afternoon</span>
      <span class="day-location accent">Chimney Corners Camp YMCA</span>
      <span class="day-address">Becket, MA 01223</span>
      <span class="day-meta">dinner & revelries to follow</span>
    </div>
  </div>
</div>

{% for section in sections|slice:"1:" %}
  {% if section.title == 'RSVP' %}
    <div class="callout">
      <a class="button radius js-scroll" href="#section-{{ forloop.counter }}">
        <svg class="icon">
          <use xlink:href="#love-letter" />
        </svg>
        <span class="btn-label">Click Here to RSVP Today</span>
      </a>
    </div>
  {% endif %}
{% endfor %}
{% endblock %}
