<aside class="large-3 columns hide-for-medium-down">
  <div class="side-nav-container nav">
    <div class="shadow"></div>
    <h1 class="logo">
      <a href="#section-0">
        {% if guest %}
          <div class="named-guest">
            HEY
            {{ guest.first_name }}
          </div>
        {% else %}
          T & H
        {% endif %}
      </a>
    </h1>
    <nav class="hide-for-large-down">
      <ul class="side-nav primary-nav">
        {% for section in sections|slice:"1:" %}
          {% if section.title %}
            <li>
              <a href="#section-{{ forloop.counter }}">{{ section.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <span class="ribbon"></span>
  </div>
</aside>
