<nav class="top-bar show-for-large-down nav">
  <ul class="title-area">
    <li class="name">
      {% if guest %}
        Hey {{ guest.first_name }}, choose
      {% else %}
        Choose
      {% endif %}
      a section <i class="fas fa-arrow-alt-right"></i>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#">
        <span></span>
      </a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul>
      {% for section in sections %}
        {% if section.title or forloop.first %}
          <li>
            <a href="#section-{{ forloop.counter0 }}">
              {% if forloop.first %}
                <i class="fa fa-arrow-up"></i>
              {% else %}
                {{ section.title }}
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</nav>
