{% extends 'wedding/sections/section.html' %}
{% load staticfiles %}

{% block content %}
<div class="small-12 columns">
  <ul class="clearing-thumbs" data-clearing="">
    <li>
      <a href="{% static 'img/photo-1.jpg' %}">
        <img alt="Engagement" src="{% static 'img/photo-1.jpg' %}">
        <div class="overlay-label">
          2008
          <br />
          We Meet
        </div>
      </a>
    </li>
    <li>
      <a href="{% static 'img/photo-2.jpg' %}"><img alt="The Dress" src="{% static 'img/photo-2.jpg' %}"> <span class="overlay-label">The Dress</span></a>
    </li>
    <li>
      <a href="{% static 'img/photo-3.jpg' %}"><img alt="The Ceremony" src="{% static 'img/photo-3.jpg' %}"> <span class="overlay-label">The Ceremony</span></a>
    </li>
    <li>
      <a href="{% static 'img/photo-4-panoramic.jpg' %}"><img alt="Our Reception" src="{% static 'img/photo-4.jpg' %}"> <span class="overlay-label">Our Reception</span></a>
    </li>
    <li>
      <a href="{% static 'img/photo-5.jpg' %}"><img alt="Cutting the Cake" src="{% static 'img/photo-5.jpg' %}"> <span class="overlay-label">Cutting the Cake</span></a>
    </li>
    <li>
      <a href="{% static 'img/photo-6.jpg' %}"><img alt="Bouquet" src="{% static 'img/photo-6.jpg' %}"> <span class="overlay-label">Bouquet</span></a>
    </li>
    <li>
      <a href="{% static 'img/photo-7.jpg' %}"><img alt="Beach Kiss" src="{% static 'img/photo-7.jpg' %}"> <span class="overlay-label">Beach Kiss</span></a>
    </li>
    <li>
      <a href="{% static 'img/photo-8.jpg' %}"><img alt="Memories" src="{% static 'img/photo-8.jpg' %}"> <span class="overlay-label">Memories</span></a>
    </li>
  </ul>
</div>
{% endblock %}
