{% extends 'wedding/sections/section.html' %}
{% load staticfiles %}

{% block content %}
<div class="small-10 large-8 large-centered columns">
  <p class="content-block">
    Tony and Haya met doing theater with the Babson Players, a theater group with a massive budget at a business university. Their friendship strengthened over the course of a year as they both carved out a strong community around them within Babson and Olin College. Their relationship flourished over the next 9 years, growing together and across continents when Haya moved to Rwanda. Their relationship remained strong with their many travels together to East and West Africa, the Middle East, and plenty of Thanksgivings in Buffalo and Pennsylvania. Their love for exploring the world, cultures, and languages are at the cornerstone of the community they continue to build. Haya and Tony’s weekend routine of coffee, eggs, and Crash Course Youtube videos reflects their old souls, while their spontaneous road trips to NYC to see a show or two embodies their continued sense of adventure.
  </p>
</div>
{% endblock %}
