{% extends 'wedding/sections/section.html' %}
{% load staticfiles %}

{% block content %}
<div class="small-12 large-8 large-centered columns wrapper rsvp-section">
  {% if guest %}
    <form data-abide method="POST" class="rsvp-form custom" action="{% url 'rsvp' %}" id="rsvp_form">
      {% csrf_token %}
      <input type="hidden" id="guest_id" name="guest_id" value="{{ guest.id }}">
      <fieldset class="rsvp-attendance">
        <legend>Will you be attending?</legend>
        <div class="large-6 columns">
          <label for="accept" class="accept">
            <input name="attending" type="radio" id="accept" style="display:none;" value=true required>
            <span class="radio-label">Absolutely!</span>
          </label>
        </div>
        <div class="large-6 columns">
          <label for="decline" class="decline">
            <input name="attending" type="radio" id="decline" style="display:none;" value=false required>
            <span class="radio-label">Sadly, no.</span>
          </label>
        </div>
      </fieldset>
      <fieldset class="rsvp-party attending">
        <legend>Who will be attending?</legend>
        {% for member in guest.party %}
          <div class="checkbox-line-wrapper columns">
            <input
              type="checkbox"
              class="checkbox-item"
              name="guests"
              value="{{ member.id }}"
              id="attendance_{{ member.id }}">
            {% if member.unnamed %}
                <input
                  type="text"
                  class="checkbox-item"
                  name="unnamed_first_{{ member.id }}"
                  id="unnamed_first_{{ member.id }}"
                  value="Plus-One First Name"
                  onfocus="this.value=''">
                <input
                  type="text"
                  class="checkbox-item"
                  name="unnamed_last_{{ member.id }}"
                  id="unnamed_last_{{ member.id }}"
                  value="Plus-One Last Name"
                  onfocus="this.value=''">
            {% else %}
              <span class="checkbox-item">{{ member }}</span>
            {% endif %}
          </div>
        {% endfor %}
      </fieldset>
      <fieldset class="nights-onsite attending">
        <legend>How many nights will you be spending onsite?<br />(see above for costs)</legend>
        <div class="small-12 large-4 columns">
          <label for="onsite_0" class="onsite_0">
            <svg viewBox="0 0 100 100" class="icon">
              <use xlink:href="#zero" />
            </svg>
            <input type="radio" name="nights_onsite" id="onsite_0" value=0 required>
            <span class="radio-label">I'm staying elsewhere.</span>
          </label>
        </div>
        <div class="small-12 large-4 columns">
          <label for="onsite_1" class="onsite_1">
            <svg viewBox="0 0 100 100" class="icon">
              <use xlink:href="#one" />
            </svg>
            <input type="radio" name="nights_onsite" id="onsite_1" value=1 required>
            <span class="radio-label">I won't want to leave.</span>
          </label>
        </div>
        <div class="small-12 large-4 columns">
          <label for="onsite_2" class="onsite_2">
            <svg viewBox="0 0 100 100" class="icon">
              <use xlink:href="#two" />
            </svg>
            <input type="radio" name="nights_onsite" id="onsite_2" value=2 required>
            <span class="radio-label">I won't miss a thing.</span>
          </label>
        </div>
      </fieldset>
      <fieldset class="rsvp-pay staying">
        <legend>How would you like to pay?</legend>
        <div class="columns">
          <div class="fieldWrapper">
            <label for="rsvp-cc">
            </label>
            <div class="fieldWrapper" id="rsvp-cc">
            </div>
            <span id="rsvp-cc-errors" class="error-message rsvp-errors"></span>
          </div>
        </div>
      </fieldset>
      <fieldset class="rsvp-activities attending">
        <legend>Which of the below activities interest you, if any?</legend>

        <div class="row">
        {% for activity in activities %}
          <div class="checkbox-line-wrapper small-12 small-centered medium-6 medium-centered large-4 columns">
            <input
              type="checkbox"
              class="checkbox-item"
              name="activities"
              value="{{ activity.id }}"
              id="activity_{{ activity.id }}">
              <span class="checkbox-item">{{ activity.name }}</span>
          </div>
        {% endfor %}
        </div>

        <!-- {{ rsvp_form.activities }} -->
      </fieldset>
      <fieldset class="rsvp-message">
        <legend>Is there a message you'd like to share with us?</legend>
        {{ rsvp_form.message }}
      </fieldset>

      <button type="submit" class="button radius" id="rsvp-submit-btn">
        <svg class="icon">
          <use xlink:href="#love-letter" />
        </svg>
        <span class="btn-label">Send RSVP</span>
      </button>
    </form>
  {% else %}
  <p class="content-block">
    Please use the unique code from your invitation to RSVP.
    <br />
    If you are confused,
    <a href="mailto:info@tonyhaya.com?Subject=RSVP%20Question">
      email us
    </a>
    and we'll help.
  </p>
  {% endif %}
</div>
{% endblock %}
