{% extends 'wedding/sections/section.html' %}

{% block content %}
<div class="small-12 large-8 large-centered columns">
  <p class="content-block">
    Friday
    <br>
    2:00pm – 6:00pm : Camp Activities
    <br>
    8:00pm : S’mores, Games, and Late Night Hangout
    <br><br>
    Saturday
    <br>
    8:00am – 12:00pm : Camp Activities
    <br>
    3:00pm : Wedding Ceremony
    <br>
    4:00pm : Cocktail Hour
    <br>
    5:00pm : Dinner & Dancing
    <br>
    12:00am Onward : S’mores & Late Night Hangout
    <br><br>
    Sunday
    <br>
    8:00 – 10:00am : Morning Camp Activities
    <br>
    10:00am : Brunch
    <br>
    12:00pm : Check-Out of Lodges by noon (if staying on-site)
    <br>
    12:00pm – 2:00pm : Camp Activities
    <br>
    2:00pm	:	Guest Departure
  </p>
</div>
{% endblock %}
