{% extends 'wedding/sections/carousel.html' %}
{% load staticfiles %}

{% block slides %}
<li>
  <img alt="Dani" src="{% static 'img/danielle.jpg' %}">
  <p class="flex-caption">
    Danielle is one of the first people Haya met in undergrad, and has since
    become one of her most reliable, trusting, and deeply compassionate best
    friends. Danielle is the best sounding board anyone could ask for
    (always with a tray of home-made gluten-free desserts).
  </p>
</li>
<li>
  <img alt="Darius" src="{% static 'img/darius.jpg' %}">
  <p class="flex-caption">
    Tony and Darius got to know each other when Darius told Tony he sucked
    in his first musical. A year later, during curtain call for Beauty and
    the Beast, Tony (Beast) went to give Darius (Gaston) a friendly fist bump,
    and Darius ignored him, making Tony look like an idiot in front of
    300 people. Tony stole Darius’s car once to go comfort Haya when she
    was upset. There are many stories like this. Ask them.
  </p>
</li>
<li>
  <img alt="Placeholder" src="{% static 'img/groomsmen-1.jpg' %}">
  <p class="flex-caption">Cool DUDE! Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</li>
<li>
  <img alt="Placeholder" src="{% static 'img/groomsmen-2.jpg' %}">
  <p class="flex-caption">ALSO a DUDE ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</li>
<li>
  <img alt="Placeholder" src="{% static 'img/groomsmen-3.jpg' %}">
  <p class="flex-caption">NOT A DUDE Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</li>
{% endblock %}
