/*-----------------------------------------------------------------------------------*/
/*	Colors
/*-----------------------------------------------------------------------------------*/

$primary:     #191970;  // Midnight Blue
$secondary:   #f4d35e;  // Gold
$tertiary:    #da4167;  // Pink
$quarternary: #f78764;  // Orange
$quinary:     #ebebd3;  // White

$odd_section_color: mix(white, $primary, 81.7%);
$even_section_color: mix(white, $primary, 91%);
$header_color: $primary;
$title_subtext_color: mix(black, $secondary, 27%);
$title_underline_color: mix(black, $secondary, 9%);
$date_accent_color: mix(black, $secondary, 45%);
$body_color: #838383;    // Only used once; for body text
$hover_color: mix(black, $secondary, 18%);  // Hover text for buttons and links
$overlay_background_color: rgba(108, 108, 164, 0.7);  // When hovering over thumbnails

$logo_color: rgba(mix(white, $primary, 8.9%), 0.9);
$side_nav_background: rgba(mix(white, $primary, 18%), 0.9);
$side_nav_select_color: mix(white, $secondary, 27%);
$side_nav_border_top_color: rgba(mix(white, $primary, 8.9%), 0.9);
$small_nav_background_color: $side_nav_background;
$small_nav_border_color: $side_nav_border_top_color;

$block_logo_color: transparent;  // mix(white, $secondary, 70%);

$form_element_color: mix(white, $primary, 27%);
$text_field_background_color: #F5F5F6;
$text_field_color: #818b92;
$error_color: #c60f13;
$text_area_error_color: rgba(198, 15, 19, 0.1);
$text_error_background_color: #fafafa;
$text_error_border_color: #999999;

$vertical_divider_color: #d9d9d9;  // Color of divider lines in columns
$border_bottom_color: #e4e4e4;

$message_background_color: #ffffe0;
$message_border_color: #e6db55;

$box_shadow_color: #6e6e6e;  // No idea what this does

/*------------------------------------------------------------------------------------

	1.	Overrides
	2.	Main Content Styles
	3.	Sidebar Styles
	4.	Forms - Base Styles
	5.	Image Gallery
	6.	Footer Styles
	7.	Helpers

------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'ostrich_sansbold';
    src: url('../fonts/ostrich-bold-webfont.eot');
    src: url('../fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich-bold-webfont.woff') format('woff'),
         url('../fonts/ostrich-bold-webfont.ttf') format('truetype'),
         url('../fonts/ostrich-bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'hangar_nine';
  src: url('../fonts/hangar-nine.otf') format('opentype');
}
@font-face {
  font-family: 'standing_room_only';
  src: url('../fonts/standing-room-only.ttf') format('truetype');
}

$title_font: 'hangar_nine';
$emphasis_font: 'hangar_nine';

/*-----------------------------------------------------------------------------------*/
/*	1.	Overrides
/*-----------------------------------------------------------------------------------*/

body {
	background-color: $even_section_color;
	color: $body_color;
	font-family:'Roboto Slab', serif;
	text-align: center;
}
a {
	color:$header_color;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
a:hover {
	color:$hover_color;
}
img {
	width: 100%;
	height: auto;
}

/*==== Headings ====*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header_color;
	font-family: $title_font,'Helvetica Neue', Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.5;
}

/*==== The Grid ====*/

.row,
.row .row {
	height: 100%;
	max-width: 100%;
	margin:0;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

header {
	margin-top: 0.5em;
}
blockquote {
	border-left: none;
	padding: 4em 2em;
	margin-bottom: 0;
	text-align: left;
}
blockquote:before {
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	width: 1px;
	background: $vertical_divider_color;
}
blockquote.caption-2:before {
	background:none
}
.subline {
	padding: 1em 0.5em 0;
}
.section-title-container {
	text-align: center;
	margin: 6em 0 2em;
}
.section-title {
	border-bottom: 4px double $title_underline_color;
	display: inline-block;
	text-align: center;
	font-size: 4em;
	line-height: 1.2;
	margin: 0;
	width: 100%;
}
.section-title em {
	color: $title_subtext_color;
	font-family: $emphasis_font, serif;
	font-size: 0.5em;
}
.hearts {
	background:url(../img/icon-hearts.png) no-repeat center bottom;
	display: block;
	height: 2em;
	position: relative;
	z-index: 4;
	bottom: 20px;
}
.tickets {
  background: url(../icons/svg/002-tickets.svg) no-repeat center bottom;
	display: block;
	height: 2em;
	position: relative;
	z-index: 4;
	bottom: 20px;
}
.divider {
	border-bottom:1px solid $border_bottom_color;
}

/*==== Date Block ====*/

.date-container {
	padding: 1.5em;

	.col-1 {
		border-bottom:1px solid $border_bottom_color;
	}
	.day-date, .day-time, .day-address {
		font-size: 1em;
	}
	span {
		display:block;
	}
	.date {
		font-family: 'Roboto Slab', serif;
	}
	.accent {
		color:$date_accent_color;
		font-family: $title_font,'Helvetica Neue', Helvetica, sans-serif;
		font-weight: normal;
	}
	.day-location {
		font-size: 3.75em;
		margin: 10px 0 5px;
		text-align: center;
	}
	.day-year {
		font-size: 12em;
	}
	.day-meta {
		font-family: $emphasis_font, serif;
		font-style: italic;
		text-transform: lowercase;
		font-weight: normal;
		font-size: 1.45em;
		margin-top: 15px;
	}

}
.date-container, .subline, .side-nav {
	color: $title_subtext_color;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	text-transform: uppercase;
}
/*==== Callout ====*/

.callout {
	clear:both;
	text-align: center;
	margin: 4em 0 6em;

	.button {
		margin-bottom: 0;
	}
}

/*==== Sections ====*/

div[id*="section-"] {
	overflow: hidden;
	text-align: center;
}
.section-odd {
	background: $odd_section_color;
}
.btn-label {
	margin-left: 0.5em;
}

/*==== Block Grid ====*/

.block-grid {
  li {
    margin-bottom: 0.88em;
  }
  .block-logo {
  	background-color: $block_logo_color;
  	border-radius: 10px;
  	display: table-cell;
  	height: 10em;
  	text-align: center;
  	padding: 20%;
  	vertical-align: middle;
  	width: 50%;
  }
}
.block-logo {
  svg {
    opacity: .5;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    }
  &hover{
    background-color: $side_nav_select_color;
    cursor: pointer;
  }
}
.block-logo:hover svg {
	opacity: 1;
	-webkit-filter: grayscale(0)
}

.visible-img img {
	width: auto;
}

/*==== Content Block ====*/

.content-block {
	margin: 2em 0 6em;
	line-height: 2em;
}

/*-----------------------------------------------------------------------------------*/
/*	3.	Sidebar Styles
/*-----------------------------------------------------------------------------------*/

aside {
	width: 100%;
	height: 30em;
	top: 0;
	right: 0;
	bottom: auto;
	position: relative!important;
	z-index: 997;
}
aside .postfix.button {
	line-height:0.125em;
	padding:1.43em 0;
}
.side-nav {
	background-color: $hover_color; /* fallback */
	background: $side_nav_background;
	margin: 0;
	padding:0;
}
.side-nav li {
	margin:0;
}
.side-nav li a {
	color:$side_nav_select_color;
	border-top: 1px solid $side_nav_border_top_color;
	display: block;
	padding: 1.25em;
}
.side-nav li.active a,
.side-nav li a:hover {
	background-color:$side_nav_select_color;
	color:$header_color;
}
.side-nav-container {
	margin: 0 auto;
	width: 59%;
}
.shadow {
	-webkit-box-shadow: 0 0 1.5em $box_shadow_color;
	   -moz-box-shadow: 0 0 1.5em $box_shadow_color;
			box-shadow: 0 0 1.5em $box_shadow_color;
}
.logo {
	margin:5em auto;
  a {
  	background-color: $header_color; /* fallback */
  	background-color: $logo_color;
  	color:$side_nav_select_color;
  	display: block;
  	font-size: 2.5em;
  	letter-spacing: -12px;
  	border-radius: 30px;
    .named-guest {
      font-size: 0.5em;
      letter-spacing: 0.05em;
      line-height: 1em;
    }
  }
}
.ribbon {
	background:none;
	display: block;
	height: 8px;
	opacity: 0.9;
}

/* Global Buttons */

button, .button {
	background-color: $header_color;
	border-color: transparent;
	-webkit-box-shadow: none;
		    box-shadow: none;
	text-transform: uppercase;
	padding: 0.7em 0.7em;
  .icon {
    vertical-align: middle;
    max-height: 2em;
    max-width: 2em;
  }
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color:$hover_color;
}

/* High Quality/Definition Images */

.hd {
	margin-bottom: 1em;
}

/*-----------------------------------------------------------------------------------*/
/*	4.	Forms - Base Styles
/*-----------------------------------------------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	background-color: $text_field_background_color;
	border: 1px solid $text_field_background_color;
	border-radius: 3px;
	height: 38px;
	color: $text_field_color;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
			box-shadow: none;
	-webkit-transition: .25s ease-in;
	   -moz-transition: .25s ease-in;
		    transition: .25s ease-in;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	background-color: $side_nav_select_color;
	border:1px solid $header_color;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
}

label {
	text-align: left;
	margin-bottom: 0.5em;
}

/*==== Gift & RSVP Forms ====*/

.input-icon {
  position: relative;

  > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 67%;
    pointer-events: none;
    width: 1.75em;
    text-align: center;
    font-style: normal;
  }

  > input {
    padding-left: 1.75em;
    padding-right: 0em;
  }
}

.attending, .staying {
  display: none;
}

.gift-form, .rsvp-form {
	margin:2em 0 4em;
  fieldset {
  	border-color:$form_element_color;
  	padding: 2em 0.5em;
  	margin: 1em 1em 3em;
  }
  legend {
  	background: transparent;
  	font-weight: normal;
  	padding: 0 1em;
  	line-height: 1.4;
  }
  div[class*="large-"] {
  	padding-left:0.9375em!important;
  	padding-right:0.9375em!important;
  }
  ul {
    list-style-type: none;
  }

  .error-message {
    display: block;
  	padding: 0.375em 0.25em;
  	margin-top: 0;
  	margin-bottom: 1em;
  	font-size: 0.75em;
  	font-weight: bold;
  	background: $error_color;
  	color: white;

    &:empty {
      display: none;
    }
  }
}
.gift-choice, .rsvp-attendance, .nights-onsite {
  label {
	  text-align:center;
	  display: inline-block;
  }
  .radio-label, .checkbox-label {
  	display: block;
  	margin-top: 1em;
  }
}
.nights-onsite {
  svg {
    display: block;
    margin: 0% 20% 10% 20%;
  }
}
.checkbox-line-wrapper {
  display: flex;
  align-items: center;
  .checkbox, .checkbox-item {
    flex-shrink: 0;
    margin: 0.2em;
    &[type="text"] {
      flex-shrink: 1;
      min-width: 10px;
      max-width: 250px;
    }
  }
}
form.custom {
  .radio {
	  border: solid 5px $form_element_color;
	  height: 29px;
	  width: 30px;
  }
  .checkbox {
    border: solid 3px $form_element_color;
    height: 20px;
    width: 20px;
  }
  .custom.radio.checked:before {
  	top: 4px;
  	left: 5px;
  	background-color: $form_element_color;
  	width: 10px;
  	height: 10px;
  }
  .dropdown {
  	text-align: left;
  }
}

/*==== Error Handling ====*/

[data-abide] .error small.error,
[data-abide] span.error,
[data-abide] small.error {
	display: block;
	padding: 0.875em 0.25em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: normal;
	background: $error_color;
	color: white;
}
[data-abide] span.error,
[data-abide] small.error {
	display: none;
}
span.error, small.error {
	display: block;
	padding: 0.375em 0.25em;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
	background: $error_color;
	color: white;
}
.error input,
.error textarea,
.error select {
	border-color: $error_color;
	background-color: $text_area_error_color;
	margin-bottom: 0;
}
.error input:focus,
.error textarea:focus,
.error select:focus {
  	background: $text_error_background_color;
  	border-color: $text_error_border_color;
}
.error label,
.error label.error {
  	color: $error_color;
}
.error > small,
.error small.error {
	display: block;
	padding: 0.375em 0.25em;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
	background: $error_color;
	color: white;
}
.error span.error-message {
	display: block;
}
input.error,
textarea.error {
	border-color: $error_color;
	background-color: $text_area_error_color;
	margin-bottom: 0;
}
input.error:focus,
textarea.error:focus {
	background: $text_error_background_color;
	border-color: $text_error_border_color;
}
.error select {
  	border-color: $error_color;
  	background-color: $text_area_error_color;
}
.error select:focus {
	background: $text_error_background_color;
	border-color: $text_error_border_color;
}
label.error {
	color: $error_color;
}

/*==== Notification Panel ====*/

.message-panel, .gift-display {
	background-color: $message_background_color;
	border-color: $message_border_color;
	padding: 1em;
	font-size: 0.850em;
	margin: 0 0 2em;
}

/*-----------------------------------------------------------------------------------*/
/*	5.	Image Gallery
/*-----------------------------------------------------------------------------------*/
.slides {
  img {
    max-height: 100px;
    width: auto;
  }
}

.carousel li {
	position: relative;
	margin: 0;
	max-width:100%;
	width: 100%;
}
.carousel img {
  // max-height: 100px;
	max-width: 100%;
	height: auto;
}
.overlay-label {
	background-color: $overlay_background_color;
	display: inline;
	left: 0px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;
	opacity: 0;
	margin: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
  // My addition
  display: flex;
  align-items: center;
  justify-content: center;
	// text-align: center;
	// padding-top: 45%;
	color: white;
	font-size: 15px;
	-webkit-transition: all .4s;
	   -moz-transition: all .4s;
	        transition: all .4s;

}
.overlay-label:hover {
	opacity: 1;
}

/* Navigation */

.top-bar {
  background-color: $side_nav_background;
  color: $side_nav_select_color;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 997;
	text-align: left;

  .name {
  	font-weight: bold;
  	line-height: 3em;
  	padding-left: 1em;
  	margin-right: 1em;
  }

  .top-bar-section ul {
    li{
    	border-bottom: 1px dotted $small_nav_border_color;
      > a {
      	font-weight: normal;
      }

      &:first-child {
        display: none;
      }
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*	6.	Footer Styles
/*-----------------------------------------------------------------------------------*/

footer {
	overflow: hidden;
	text-transform: uppercase;
	text-align: center;
	padding: 2em;
}
footer p {
	font-size: 0.750em;
	margin-bottom: 0;
}
footer a {
}
.copyright {
	margin-bottom: 0.650em;
}

/*-----------------------------------------------------------------------------------*/
/*	7.	Helpers
/*-----------------------------------------------------------------------------------*/

.wrapper {
	padding: 0 1em!important;
}
.sep {
	margin: 3em 0 2em;
}
.preloader {
	background:url(../img/status.gif) no-repeat center center;
	min-height:400px;
}

/*-----------------------------------------------------------------------------------*/
/*	8. Tony's Stuff
/*-----------------------------------------------------------------------------------*/

.squeeze {
  margin-left: 6em;
  margin-right: 6em;
}
