{% extends 'wedding/base.html' %}
{% load staticfiles %}

{% block content %}


<!-- START Navigation for mobile devices -->
<nav class="top-bar show-for-large-down nav">
  <ul class="title-area">
    <li class="name">Navigate to...</li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul>
      <li>
        <a href="#section-0"><i class="fa fa-arrow-up"></i></a>
      </li>
      <li>
        <a href="#section-1">Our Story</a>
      </li>
      <li>
        <a href="#section-2">Photos</a>
      </li>
      <li>
        <a href="#section-3">Groomsmen</a>
      </li>
      <li>
        <a href="#section-4">Bridesmaids</a>
      </li>
      <li>
        <a href="#section-5">Gifts</a>
      </li>
      <li>
        <a href="#section-6">Rsvp</a>
      </li>
    </ul>
  </section>
</nav>
<!-- END Navigation for mobile devices -->
<div class="row collapse">
  <aside class="large-3 columns hide-for-medium-down">
    <div class="side-nav-container nav">
      <div class="shadow"></div>
      <h1 class="logo"><a href="#section-0">T & H</a></h1>
      <nav class="hide-for-large-down">
        <ul class="side-nav primary-nav">
          <li>
            <a href="#section-1">Our Story</a>
          </li>
          <li>
            <a href="#section-2">Photos</a>
          </li>
          <li>
            <a href="#section-3">Groomsmen</a>
          </li>
          <li>
            <a href="#section-4">Bridesmaids</a>
          </li>
          <li>
            <a href="#section-5">Gifts</a>
          </li>
          <li>
            <a href="#section-6">Rsvp</a>
          </li>
        </ul>
      </nav><span class="ribbon"></span>
    </div><!-- END .nav-container .shadow -->
  </aside>
  <div class="large-9 columns" id="main">
    <!-- {% for section in sections %}
      {{ section }}
    {% endfor %} -->
    {{ sections.0|safe }}
    <!-- <div id="section-0">
      <header>
        <h2 class="section-title"><span>Tony</span> <em>and</em> <span>Haya</span></h2>
      </header>
      <p class="subline">Invite You to Celebrate At their Wedding</p><img alt="Placeholder" class="hero-unit fade-in" src="{% static 'img/hero-unit.jpg' %}">
      <div class="row divider date-section">
        <div class="large-6 small-12 columns">
          <div class="date-container col-1">
            <span class="day-date">Thursday, September 10</span> <span class="day-year accent">2014</span>
          </div>
        </div>
        <div class="large-6 small-12 columns">
          <div class="date-container col-2">
            <span class="day-time">Five O’Clock in the evening</span> <span class="day-location accent">Sheraton Towers</span> <span class="day-address">123 Las Ramblas, Barcelona</span> <span class="day-meta">dinner + dancing to follow</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="callout">
      <a class="button radius js-scroll" href="#section-6"><i class="fa fa-envelope"></i> <span class="btn-label">Click here to RSVP today</span></a>
    </div><!-- END .callout -->
    <div class="section-odd row" id="section-1">
      <div class="section-title-container">
        <h2 class="section-title">Our Story</h2><span class="hearts"></span>
      </div>
      <div class="small-12 large-10 large-centered columns">
        <div class="row">
          <div class="small-12 large-6 columns section-bride">
            <img alt="Bride" src="{% static 'img/groom.jpg' %}">
            <blockquote class="caption-1">
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p><strong class="right">- Kevin's Story</strong>
            </blockquote>
          </div>
          <div class="small-12 large-6 columns section-groom">
            <img alt="Groom" src="{% static 'img/bride.jpg' %}">
            <blockquote class="caption-2">
              <p>When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath.</p>
              <p>I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me:</p><strong class="right">- Cecelia's Story</strong>
            </blockquote>
          </div>
        </div><!-- END .row -->
      </div><!-- END .small-12  -->
    </div><!-- END #section-1 -->
    <div class="row" id="section-2">
      <div class="section-title-container">
        <h2 class="section-title">Photos</h2><span class="hearts"></span>
      </div>
      <div class="small-12 columns">
        <ul class="clearing-thumbs" data-clearing="">
          <li>
            <a href="{% static 'img/photo-1.jpg' %}"><img alt="Engagement" src="{% static 'img/photo-1.jpg' %}"> <span class="overlay-label">Engagement</span></a>
          </li>
          <li>
            <a href="{% static 'img/photo-2.jpg' %}"><img alt="The Dress" src="{% static 'img/photo-2.jpg' %}"> <span class="overlay-label">The Dress</span></a>
          </li>
          <li>
            <a href="{% static 'img/photo-3.jpg' %}"><img alt="The Ceremony" src="{% static 'img/photo-3.jpg' %}"> <span class="overlay-label">The Ceremony</span></a>
          </li>
          <li>
            <a href="{% static 'img/photo-4-panoramic.jpg' %}"><img alt="Our Reception" src="{% static 'img/photo-4.jpg' %}"> <span class="overlay-label">Our Reception</span></a>
          </li>
          <li>
            <a href="{% static 'img/photo-5.jpg' %}"><img alt="Cutting the Cake" src="{% static 'img/photo-5.jpg' %}"> <span class="overlay-label">Cutting the Cake</span></a>
          </li>
          <li>
            <a href="{% static 'img/photo-6.jpg' %}"><img alt="Bouquet" src="{% static 'img/photo-6.jpg' %}"> <span class="overlay-label">Bouquet</span></a>
          </li>
          <li>
            <a href="{% static 'img/photo-7.jpg' %}"><img alt="Beach Kiss" src="{% static 'img/photo-7.jpg' %}"> <span class="overlay-label">Beach Kiss</span></a>
          </li>
          <li>
            <a href="{% static 'img/photo-8.jpg' %}"><img alt="Memories" src="{% static 'img/photo-8.jpg' %}"> <span class="overlay-label">Memories</span></a>
          </li>
        </ul>
      </div>
    </div><!-- END #section-2 -->
    <div class="section-odd" id="section-3">
      <div class="row">
        <div class="section-title-container">
          <h2 class="section-title">Groomsmen</h2><span class="hearts"></span>
        </div>
        <div class="small-11 small-centered large-8 large-centered columns">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <img alt="Placeholder" src="{% static 'img/groomsmen-1.jpg' %}">
                <p class="flex-caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </li>
              <li>
                <img alt="Placeholder" src="{% static 'img/groomsmen-2.jpg' %}">
                <p class="flex-caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </li>
              <li>
                <img alt="Placeholder" src="{% static 'img/groomsmen-3.jpg' %}">
                <p class="flex-caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </li>
            </ul>
          </div><!-- END .flexslider -->
        </div><!-- END .small-11 -->
      </div><!-- END .row -->
    </div><!-- END #section-3 -->
    <div id="section-4">
      <div class="row">
        <div class="section-title-container">
          <h2 class="section-title">Bridesmaids</h2><span class="hearts"></span>
        </div>
        <div class="small-11 small-centered large-8 large-centered columns">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <img alt="Placeholder" src="{% static 'img/bridesmaid-1.jpg' %}">
                <p class="flex-caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </li>
              <li>
                <img alt="Placeholder" src="{% static 'img/bridesmaid-2.jpg' %}">
                <p class="flex-caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </li>
              <li>
                <img alt="Placeholder" src="{% static 'img/bridesmaid-3.jpg' %}">
                <p class="flex-caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </li>
            </ul>
          </div><!-- END .flexslider -->
        </div><!-- END .small-11 -->
      </div><!-- END .row -->
    </div><!-- END #section-4 -->
    <div class="section-odd" id="section-5">
      <div class="section-title-container">
        <h2 class="section-title">Gifts</h2><span class="hearts"></span>
      </div>
      <div class="small-12 large-6 large-centered columns wrapper">
        <ul class="small-block-grid-1 large-block-grid-2 block-grid">
          <li>
            <a href="#" class="block-logo">
              <img src="{% static "img/logo-1.png" %}" alt="Logo" />
            </a>
		  </li>
          <li>
            <a href="#" class="block-logo">
			  <img src="{% static "img/logo-2.png" %}" alt="Logo" />
			</a>
		  </li>
		  <li>
		    <a href="#" class="block-logo">
			  <img src="{% static "img/logo-3.png" %}" alt="Logo" />
			</a>
		  </li>
		  <li>
		    <a href="#" class="block-logo">
			  <img src="{% static "img/logo-4.png" %}" alt="Logo" />
			</a>
		  </li>
		</ul>
        <p class="content-block">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui</p><!-- END .content-block -->
      </div>
    </div><!-- END #section-5 -->
    <div class="js-form" id="section-6">
      <div class="section-title-container">
        <h2 class="section-title">Rsvp</h2><span class="hearts"></span>
      </div>
      <div class="small-12 large-10 large-centered columns">
        <form action="#" class="rsvp-form custom" data-abide="" id="js-form" method="post" name="js-form">
          <fieldset class="rsvp-details">
            <!-- Displays a global alert if required fields are missing -->
            <div class="js-display"></div><legend>Kindly respond by <strong>March 14, 2014</strong>. We look forward to celebrating with you!</legend>
            <div class="row">
              <div class="large-6 columns">
                <label for="firstname">First Name</label> <input class="input-field" id="firstname" name="firstname" placeholder="Your first name is required" required="" type="text" value=""> <small class="error">First Name is required.</small>
              </div>
              <div class="large-6 columns">
                <label for="lastname">Last Name</label> <input class="input-field" id="lastname" name="lastname" placeholder="Your last name is required" required="" type="text" value=""> <small class="error">Last Name is required.</small>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label for="email">Email</label> <input class="input-field" id="email" name="email" placeholder="name@yourdomain.com" required="" type="email" value=""> <small class="error">Valid Email is required.</small>
              </div>
              <div class="large-6 columns">
                <label for="phone">Phone</label> <input class="input-field" id="phone" name="phone" placeholder="A phone number is optional" type="tel" value="">
              </div>
            </div>
          </fieldset>
          <fieldset class="rsvp-attendance">
            <legend>Will you be attending?</legend>
            <div class="large-6 columns">
              <label for="radio1"><input id="radio1" name="radio" required="" style="display:none;" type="radio" value="Accepts with Pleasure!"> <span class="custom radio accept"></span> <span class="radio-label">Accepts with Pleasure!</span></label>
            </div>
            <div class="large-6 columns">
              <label for="radio2"><input id="radio2" name="radio" required="" style="display:none;" type="radio" value="Declines with Regret."> <span class="custom radio decline"></span> <span class="radio-label">Declines with Regret.</span></label>
            </div>
          </fieldset>
          <fieldset class="rsvp-meal-choice">
            <legend>Please select your meal choices</legend>
            <div class="row">
              <div class="large-6 columns">
                <label for="main-course">Main</label> <select id="main-course" name="main-course">
                  <option selected>
                    None
                  </option>
                  <option>
                    Chicken
                  </option>
                  <option>
                    Beef
                  </option>
                  <option>
                    Vegetarian
                  </option>
                </select>
              </div>
              <div class="large-6 columns">
                <label for="dessert">Dessert</label> <select id="dessert" name="dessert">
                  <option selected>
                    None
                  </option>
                  <option>
                    Chocolate Cake
                  </option>
                  <option>
                    Lemon Cheesecake
                  </option>
                  <option>
                    Key Lime Pie
                  </option>
                </select>
              </div>
            </div>
          </fieldset><button class="button radius" id="js-submit-btn" type="submit"><i class="fa fa-envelope"></i> <span class="btn-label">Send</span></button>
        </form>
        <p>For any questions please email us: <a href="mailto:info@yourdomain.com" title="E-mail Us">info@yourdomain.com</a></p>
      </div><!-- END .large-8 -->
      <div id="map-canvas" style="width:100%; height:500px;"></div>
    </div><!-- END .row -->
    <footer class="section-odd">
        <p class="copyright small-12 large-6 columns">(C) 2013<a href="http://demo.themechills.com/eternity">Eternity</a> / Buy it on <a href="http://themeforest.net/user/nimbleo/portfolio?ref=nimbleo">ThemeForest</a></p>
      <p class="credit small-12 large-6 columns"><a href="http://demo.themechills.com/eternity">Eternity</a> powered by <a href="http://themechills.com/">ThemeChills.com</a></p>
    </footer><!--END footer-->
  </div><!--END main-->
</div><!--END .row-->
{% endblock %}
