{% extends 'wedding/base.html' %}
{% load staticfiles %}

{% block content %}

<div id="onsite_cost_url" data-onsite_cost_url="{{ onsite_cost_url }}"></div>

{% include "wedding/sections/navigation_mobile.html" %}

<div class="row collapse">
  {% include "wedding/sections/navigation.html" %}
  <div class="large-9 columns" id="main">
    {% for section in sections %}
      {% include section.template %}
    {% endfor %}

    {% include "wedding/sections/footer.html" %}
  </div>
</div>

{% endblock %}
